In [2]:
import pandas as pd
import numpy as np
sec_30 = pd.read_csv("C:/Users/shivaji ganesh/Downloads/minorfinal/minorfinal/final30.csv")

In [3]:
sec_30

           temp        hum  occ         CO2  occupancy_level
0     32.694297  38.847172    5  485.535701                3
1     32.712215  38.615442    5  486.271494                3
2     32.722323  38.472166    5  486.167661                3
3     32.726901  38.399065    5  485.646093                3
4     32.728230  38.377858    5  485.129041                3
...         ...        ...  ...         ...              ...
7189  31.650001  41.348938    6  600.810541                3
7190  31.650001  41.441195    6  604.614729                3
7191  31.650001  41.525044    6  607.766500                3
7192  31.650001  41.588431    6  609.478730                3
7193  31.650001  41.619302    6  608.963151                3

[7194 rows x 5 columns]

In [4]:
X = sec_30[['temp','hum','CO2']]
y = sec_30["occupancy_level"]

In [5]:
column_names=["temp","hum","occ","CO2","occupancy_level"]
def createdataset(data):
    test = pd.DataFrame(columns = column_names)
    train = pd.DataFrame(columns = column_names)
    curr=1
    key = 0
    while(curr<=len(data)):
        print(curr)
        if(key==0):
            if(curr+60>len(data)):
                train = train.append(data[curr:])
            else:
                train = train.append(data[curr:curr+60])
            key=1
            curr+=60
        else:
            if(curr+20>len(data)):
                test = test.append(data[curr:])
            else:
                test = test.append(data[curr:curr+20])
            curr+=20
            key=0
    return train,test

In [6]:
data1_train,data1_test = createdataset(sec_30)

1
61
81
141
161
221
241
301
321
381
401
461
481
541
561
621
641
701
721
781
801
861
881
941
961
1021
1041
1101
1121
1181
1201
1261
1281
1341
1361
1421
1441
1501
1521
1581
1601
1661
1681
1741
1761
1821
1841
1901
1921
1981
2001
2061
2081
2141
2161
2221
2241
2301
2321
2381
2401
2461
2481
2541
2561
2621
2641
2701
2721
2781
2801
2861
2881
2941
2961
3021
3041
3101
3121
3181
3201
3261
3281
3341
3361
3421
3441
3501
3521
3581
3601
3661
3681
3741
3761
3821
3841
3901
3921
3981
4001
4061
4081
4141
4161
4221
4241
4301
4321
4381
4401
4461
4481
4541
4561
4621
4641
4701
4721
4781
4801
4861
4881
4941
4961
5021
5041
5101
5121
5181
5201
5261
5281
5341
5361
5421
5441
5501
5521
5581
5601
5661
5681
5741
5761
5821
5841
5901
5921
5981
6001
6061
6081
6141
6161
6221
6241
6301
6321
6381
6401
6461
6481
6541
6561
6621
6641
6701
6721
6781
6801
6861
6881
6941
6961
7021
7041
7101
7121
7181